// Define variables for your color scheme

// For example:
$red: #cf464c;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;
$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade:	#007c85;
$darkGrey: #4f585e;
