<div class="footer">
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> at Le Wagon by :
  </div>
  <div class="footer-links">
    <a href="https://github.com/Marilou013" target="_blank">Marilou <i class="fab fa-github"></i></a>
    <a href="https://github.com/MatWebDev" target="_blank">Mathieu <i class="fab fa-github"></i></a>
    <a href="https://github.com/JeeTeee" target="_blank">Guillaume <i class="fab fa-github"></i></a>
    <a href="https://github.com/Djepomonti" target="_blank">Jérome <i class="fab fa-github"></i></a>
  </div>
</div>
