<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Rent A Game
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <%= link_to "Proposer un jeu", root_path %>
    <%= link_to "Inscription", new_user_registration_path %>
    <%= link_to "Connection", new_user_session_path %>   
  </div>
</div>

  