.dashboard-card{
  width: 100vw;
  height: auto;
  background-color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 15px;
}
.dashboard-card li{
  list-style: none;
  font-size: 18px;
  color: darkred;
}
.gras{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: $white;
  background-color: $red;
}

.bouton-loc {
  border: solid 2px #cfd2cf9a;
  background-color: white;
  padding: 15px;
  width: 182px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  top: 240px;
  right: 109px;
  text-align: center;
}

.bouton-loc a {
  font-size: 14px;
}

.bouton-loc:hover {
  border: 1px;
  transform: scale(1.0);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
