.dashboard-card{
  width: 100vw;
  height: auto;
  // background-color: white;
  padding: 15px;
  border-bottom: solid 2px white;
}
.dashboard-card li{
  list-style: none;
  font-size: 18px;
  color: darkred;
}

.dashboard-card h2 {
  margin-left: 100px;
}

.gras{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: $white;
  background-color: $red;
}

.bouton-loc {
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: white;
  padding: 15px;
  width: 182px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  position: absolute;
  top: 214px;
  right: 66px;
  text-align: center;
  font-size: 14px;
}

.bouton-loc a {
  font-size: 14px;
}

.bouton-loc:hover {
  border: 1px;
  transform: scale(1.04);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.plus{
  width: 320px;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-anonce {
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 230px;
  font-size: 25px;

}

.add-anonce:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  font-size: 30px;
}

.rent-time {
  background-color: $red;
  color: white;
  width: 100%;
  font-size: 18px;
}