.main-container {
  margin-top: 20px;
}

form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.h2-form {
  padding-top: 60px;
}

