form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}



.form-container {
  width: 1000px;
  margin: 0 auto;

  h2 {
    padding-top: 60px;
  }
}

.back-home {
  text-align: center;
  margin-top: 30px;

  a {
    text-decoration: none;
    color: $gray;
    font-size: 32px;
    font-family: Josefin Sans;
    transition: ease-in-out 0.4s;
    
    &:hover {
      color: rgb(56, 54, 54);
      font-weight: 500;
      border-bottom: solid rgb(56, 54, 54) 1px;
    }
  }
}