.banner-rent-a-game{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(banner.jpg);
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;

}
