* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  margin: 0px;
}

.navrentagame{
  width: 100vw;
  display: flex;
  z-index: 999;
  position: absolute;
  justify-content: space-between;
  padding-top: 8px;

  a{
    text-decoration: none;
    font-family: "Nunito", "Helvetica", "sans-serif";
    color: white;
    font-size: 18px;
    padding-left: 10px;
    &:hover {
      color: #ded9d9;

    }
}
}
a:last-child {
  margin-right: 25px;
}

.logorentagame{
  margin-left: 25px;
  height: 30px;
  width: 30px;
}




.navrentagame2{
  width: 100vw;
  display: flex;
  z-index: 999;
  position: absolute;
  justify-content: space-between;
  padding-top: 8px;
  background-color: navy;


  a{
    text-decoration: none;
    font-family: "Nunito", "Helvetica", "sans-serif";
    color: white;
    font-size: 18px;
    padding-left: 10px;
    &:hover {
      color: #ded9d9;

    }
}
}
