* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  margin: 0px;
}

.navrentagame{
  width: 100vw;
  display: flex;
  z-index: 999;
  position: absolute;
  justify-content: space-between;
  padding-top: 8px;

  a{
    text-decoration: none;
    font-family: "Josefin Sans", "Work Sans", "sans-serif";
    color: white;
    font-size: 18px;
    padding-left: 10px;
    &:hover {
      color: #ded9d9;

    }
}
a:last-child {
  margin-right: 25px;
}
}


.logorentagame{
  margin-left: 25px;
  height: 30px;
  width: 30px;
}




.navrentagame2{
  width: 100vw;
  display: flex;
  z-index: 999;
  position: absolute;
  justify-content: space-between;
  padding-top: 8px;
  background-color: navy;


  a{
    text-decoration: none;
    font-family: "Josefin Sans", "Work Sans", "sans-serif";
    color: white;
    font-size: 18px;
    padding-left: 10px;
    &:hover {
      color: #ded9d9;

    }
}
}



.navbar-lewagon {
  width: 100vw;
  display: flex;
  z-index: 999;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  a{
    text-decoration: none;
    font-family: "Josefin Sans", "Work Sans", "sans-serif";
    color: rgb(34, 29, 29);
    font-size: 18px;
    padding-left: 10px;
    margin-right: 10px;
    &:hover {
      color: $gray;

    }
}
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-lewagon a {
  padding: 10px 10px 10px 20px;
  display: flex;
  width: 175px;
}


.dropdown-item-hover {
  color: $red;
  font-weight: 300;
  display: inline-block;
  position: relative;
  color: white;

  &:hover { 
    background-color: none;
    border-bottom: 1px solid white;
    font-weight: 500;
    
}
}

.dropdown-menu{
  border-radius: 4px !important;
  background-color: rgba(255, 255, 255, 0.438);
  border: none;
  width: 200px;
}

.boxlogin{
  width: 60px;

}

.bloc {
  height: 60px;
  background-color: $red;
}

.dropdown-item-hover {
  
}

.dropdown-item-hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dropdown-item-hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.user-name {
  text-decoration: none;
    font-family: "Josefin Sans", "Work Sans", "sans-serif";
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 6px;
    margin-right: 5px;
}
